:root {
    --primary: #8cb6e7;
    --secondary: #a65966;
    --dark: #000000;
    --light: #ffffff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #8cb6e7;
    color: #ffffff;
  }

  b {
    font-family: stint ultra expanded;
    background-color: #F85800;
    }
   

  h1,
  h2,
  h3 {
    font-family: stint ultra expanded;
  }

  p {
    font-family: pontano sans;
    font-size: 20px;
    font-weight: 400;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a65966;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: pontano sans;
    box-shadow: 0px 3px 18px 3px rgba(41, 33, 33, 0.2);
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
  }

  .container {
    margin-top: 10%;
  }

  .round {
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0px 3px 18px 3px rgba(41, 33, 33, 0.2);
  }

  .card {
    margin: 20px auto 0;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }

  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  .card__face--front {
    background-image: linear-gradient(to bottom right, #a6a6a6, #020202);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__face--front h2 {
    color: #fff;
    font-size: 32px;
  }

  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }

  .card__content {
    width: 100%;
    height: 100%;
  }

  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }

  .card__header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom left,
      #a6a6a6 10%,
      #020202 115%
    );
    z-index: -1;
  }

  .card__header h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .card__body {
    padding: 30px;
  }

  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }

  .dshadow {
    box-shadow: 0px 3px 18px 3px rgba(41, 33, 33, 0.2);
  }


.crawl {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(30);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
  
  .crawl:before,
  .crawl:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: crawl 60s linear;
  }
  
  .crawl:before {
    left: 100%;
    margin-left: 1em;
    z-index: 1;
  }
  
  .crawl:after {
    left: -100%;
    margin-left: -1em;
  }
  
  @keyframes crawl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.glitch {
    position: relative;
    display: inline-block;
    font-family: pontano sans;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    animation: glitch 5s;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    text-shadow: -1px 0 #ff00c1;
    background: #000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-1 .6s  alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    text-shadow: -1px 0 #00fff9;
    background: #000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-2 .6s alternate-reverse;
}

@keyframes glitch {
    2%,64% {
        transform: translate(2px,0) skew(0deg);
    }
    4%,60% {
        transform: translate(-2px,0) skew(0deg);
    }
    62% {
        transform: translate(0,0) skew(5deg); 
    }
}

